{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block content %}
<div class="d-flex justify-content-center p-4">
      <div class="p-4 rounded shadow bg-white" style="width: 800px;">
        <h3 class="mb-4 border-bottom pb-2">Buyer Registration</h3>
        <form method="POST" action="">
          {{ buyer_form.hidden_tag() }}
          <div class="form-floating mb-3">
            {{ buyer_form.name(class="form-control", id="buyerName", placeholder="Name") }}
            <label for="buyerName">Name</label>
          </div>
          <div class="form-floating mb-3">
            {{ buyer_form.email(class="form-control", id="buyerEmail", placeholder="Email") }}
            <label for="buyerEmail">Email</label>
          </div>
          {{ buyer_form.submit(class="btn btn-success w-100") }}
        </form>
      </div>
    </div>

{% endblock %}